* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  
  text-decoration: none;
  transition: 0.3s;
  color: black;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #ffffff;
  height: 8vh;
}

main {
  background: url("img/AQUI\ NA\ VITAS.png") no-repeat center center;
  background-size: cover;
  background: rgb(150,213,254);
  background: linear-gradient(0deg, rgba(150,213,254,1) 0%, rgba(255,255,255,1) 100%);
  height: 92vh;

}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #000000;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.foco{
  width: 100%;
  height: 577px;
  background: url("img/AQUI\ NA\ VITAS.png") no-repeat center ;
  background-size: cover;
}

.main{
  display: flex;
  justify-content: center;
}

.card{
  margin: 50px;
  background-color: #eff6f8;
  color: #000000;
  width: 300px;
  height: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card>img {
  width: 100%;
  border-top-left-radius: 10px ;
  border-top-right-radius: 10px ; 
}

.btn {
  font-size: 17px;
  padding: 10px 50px;
  border: none;
  background-color:#96D5FE ;
  border-radius: 10px;
  font-weight: 600px;
  transition: 0.5s background;
  cursor: pointer;
}

.btn:hover {
  transition: 0.5s background;
  background-color: #e0f7ff;
}